html { font-size: 62.5%; }  /* =10px */
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 3.6rem; color: #fb6734; } /* =24px */
h2   { font-size: 2.6rem; color: #fb6734;} /* =20px */
h3   { font-size: 2.0rem; color: #fb6734;} /* =16px */

ul {
  list-style-type:none;
}

p {
  margin: 2.5rem 0;
}

p.extra-space-below {
  padding-bottom: 30px;
}

header img {
  width:100%;
  max-height: 200px;
}

footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: blue;
  color: #ffffff;
}

.container {
  padding: 20px;
}
